html, body {
  margin: 0;
  padding: 0;
}
.container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
object {
    margin: 0;
  }
body {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
